<!-- <div class="container d-flex justify-content-center">
    
</div> -->

<div class="container">
    <div class="row ">
        <ul class="list-unstyled d-flex flex-row justify-content-center">
            <a class="mx-1 text-decoration-none" routerLink="/home/promo">Promoções</a>
            <a class="mx-1 text-decoration-none" routerLink="/home/pizzas">Pizzas</a>
            <a class="mx-1 text-decoration-none" routerLink="/home/pizzas">Hamburgues</a>
            <a class="mx-1 text-decoration-none" routerLink="/home/pizzas">Refrigerantes</a>
        </ul>
    </div>
</div>