<div class="col-10 mx-auto mt-3">
    <div class="row justify-content-center">
        <div class="col-4 col-md-3 col-lg-2 text-center">
            <a class="text-decoration-none p-1 h6" routerLink="/home/promo" routerLinkActive="btn-neon">Promoções</a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 text-center h6">
            <a class="text-decoration-none p-1" routerLink="/home/pizzas" routerLinkActive="btn-neon">Pizzas</a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 text-center h6">
            <a class="text-decoration-none p-1" routerLink="/home/pizzas">Sanduiches</a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 text-center h6">
            <a class="text-decoration-none p-1" routerLink="/home/pizzas">Batatas</a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 text-center h6">
            <a class="text-decoration-none p-1" routerLink="/home/pizzas">Refrigerantes</a>
        </div>

    </div>
</div>



<!-- O carrinho precisa ser um modal  -->