<div class="row d-flex justify-content-center my-3">
    <div class="col-md-10 d-flex justify-content-center">
        <div class="btn-group" role="group">
            <button class="btn" type="button">Promoções</button>
            <button class="btn" type="button">Pizzas</button>
            <button class="btn" type="button">Hamburguers</button>
            <!-- <button class="btn" type="button">Batatas</button>
            <button class="btn" type="button">Refrigerantes</button> -->
        </div>
    </div>
</div>