<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-8">
        
        <div class="row">
            <div class="col-md-12 mx-auto d-flex justify-content-center">
                <img src="assets/template/map.svg" class="w-75">
            </div>


            <div class="col-md-12 mx-auto d-flex justify-content-center text-center my-2">
                <h4>Onde você quer receber seu pedido?</h4>
            </div>


            <div class="col-md-5 mx-auto d-flex justify-content-center my-2">
                <a routerLink="/endereco/edit" class="text-decoration-none">Digitar endereço</a>
            </div>


            <div class="col-md-12 mx-auto d-flex justify-content-center my-2">
                <button class="btn btn-neon" type="button">Usar localização atual</button>
            </div>

            <div class="col-md-12 mx-auto d-flex justify-content-center my-2">
                <a routerLink="/home/promo" class="text-decoration-none">Agora não</a>
            </div>
        </div>
    </div>


</div>