/* You can add global styles to this file, and also import other style files */

// Declarations
$primary: #FF7B54;


.bg-orange {
    background-color: #FF7B54 !important;
}

.navbar-toggler {
    border: none !important;
}
.navbar-toggler-icon {
    background-image: url('assets/toggle-icon.svg') !important;
}

.btn-neon {
    background-color: #FF7B54 !important;
    border-radius: 5px !important;
    color: #FFF !important;
    border: none !important;
    box-shadow: 0 4px  4px  rgba(255, 123, 84, 61%);
}

.card {
    border: none !important;
}




// Custom classes
.card-img {
    width: 100%; 
    height: auto; 
    border-radius: 15px;
    position: relative;
}

.card-text {
    left: 15%;
    position: absolute;
    bottom: 0;

    .card-name {
        font-size: 2em;
        font-weight: bold;
        color: #FFF;
    }

    .card-price {
        font-size: 1.5em;
        left: 25%;
        color: #96E92C;
    }
}

.w-80 {
    width: 80% !important;
}


// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap"